// this file should not contain any actual css classes, just mixins and defines
$tan: #f1d1b5;
$peach: #f0b7a4;
$nectarine: #f18c8e;
$raven: #305f72;

$primary: $raven;
$secondary: $tan;
$tertiary: $nectarine;

$text-color: darkslategray;
$text-color-inverted: snow;
$subhead-text-color: gray;
$background-color: white;

$transparent-light-button-color: dimgray;
$transparent-light-button-background-color: transparent;
$transparent-light-button-background-color-hover: rgba(black, 0.1);
