// this file should not contain any actual css classes, just mixins and defines
$tan: #f1d1b5;
$peach: #f0b7a4;
$nectarine: #f18c8e;
$raven: #305f72;
$purple: #ca5fa6;
$sherbet: #f36886;
$lemon: #ffaf65;

$chocolate: #4e3440;
$pig: #ffcbcb;
$lingonberry: #bb7171;
$sky: #c1f6e7;

$primary: $chocolate;
$secondary: $pig;
$tertiary: $sky;

$border-color: #e8e8e8;
$text-color: darkslategray;
$text-color-inverted: snow;
$subhead-text-color: gray;
$background-color: white;
$decklist-background-color: #222222;

$transparent-light-button-color: dimgray;
$transparent-light-button-background-color: transparent;
$transparent-light-button-background-color-hover: rgba(black, 0.1);

$primary-button-color: white;
$primary-button-background-color: $primary;
$primary-button-background-color-hover: rgba(black, 0.1);
