// this file should not contain any actual css classes, just mixins and defines
$roboto-regular: 400;
$roboto-bold: 700;
$default--transition-duration: 0.3s;
$default--min-clickable: 44px;

@mixin row($spacing: 5px, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;

  & > :not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin stack($spacing: 5px, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;

  & > :not(:last-child) {
    margin-bottom: $spacing;
  }
}

// mixin based on https://github.com/sass-mq/sass-mq
@mixin mq(
  $from: false,
  $until: false,
  $and: false,
  $media-type: 'only screen'
) {
  $media-query: '';

  @if $from { $media-query: '#{$media-query} and (min-width: #{$from})'; }
  @if $until { $media-query: '#{$media-query} and (max-width: #{$until})'; }
  @if $and { $media-query: '#{$media-query} and #{$and}'; }

  @media #{$media-type + $media-query} {
    @content;
  }
}

// These values whould match those found in main.ts used with VueMq
$sm: 650px;
$md: 1050px;
$lg: infinite;

@mixin sm() {
  @include mq($until: $sm) {
    @content;
  }
}

@mixin md() {
  @include mq($from: $sm, $until: $md) {
    @content;
  }
}

@mixin lg() {
  @include mq($from: $md) {
    @content;
  }
}
