// this file should not contain any actual css classes, just mixins and defines
$roboto-regular: 400;
$roboto-bold: 700;
$default--transition-duration: 0.3s;
$default--min-clickable-height: 40px;

@mixin row($spacing: 5px, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;

  & > :not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin stack($spacing: 5px, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;

  & > :not(:last-child) {
    margin-bottom: $spacing;
  }
}
