@import "@style/_structure.scss";
@import "@style/_colors.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: $roboto-regular;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-weight: $roboto-regular;
  font-size: 20px;
}

h2 {
  font-weight: $roboto-bold;
}

h3, h4, h5, h6 {
  font-weight: $roboto-regular;
}

input {
  border: solid 1px $primary;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: flex;
  position:relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  min-width: $default--min-clickable-height;
  min-height: $default--min-clickable-height;

  padding: 8px 8px;
  border: none;
  outline: none;

  transition: background-color $default--transition-duration ease;
  font-weight: $roboto-bold;
  font-size: 14px;

  :not(:last-child) {
    margin-right: 8px;
  }

  &.transparent-light {
    color: $transparent-light-button-color;
    background-color: $transparent-light-button-background-color;
  }

  &:after {
    content: "";
    background-color: dimgray;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all $default--transition-duration;
  }

  &:active:after {
    opacity: 0.2;
    transition: 0s
  }
}

@media (hover: hover) {
  button:hover {
    &.transparent-light {
      background-color: $transparent-light-button-background-color-hover;
    }
  }
}

.subhead {
  color: $subhead-text-color;
  text-transform: uppercase;
  font-size: 14px;
}

// SVGs
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}
